.caja-grande{
	background-color: white;
	border: 1px solid black;
	width: 75%
    height: 300px;
}
.caja1{
	background-color: yellow;
	width: 25%;
	height: 100px;
	float: right;
}
.caja2{
	background-color: blue;
	width: 25%;
	height: 100px;
	float: right;
}
.caja3{
	background-color: red;
	width: 25%;
	height: 100px;
	float: right;
}